/* ul {
  text-transform: uppercase;  /\* ttu *\/
  font-size: 24px;   /\* fz *\/
  font-style: italic;   /\* fs *\/
  font-weight: normal;   /\* fw *\/
  border-radius: 4px; /\* brad *\/
  background-color: red; /\* bgc*\/
} */

