/* 
  Sommaire :
  1 - Reset
  2 - Variables
  3 - Typographie
  4 - Header
  5 - Footer
  6 - Layout des sections
      - Hero
      - Our Work
      - Pricing
      - Contact
*/

/* 
  1 - CSS Reset
  -------------------------------------------------
  Les fichiers CSS tels que [normalize.css](https://necolas.github.io/normalize.css/) ou [reset.css](http://meyerweb.com/eric/tools/css/reset/) ou https://gist.githubusercontent.com/marharyta/b83a3683085eb42867bbcefb34687af8/raw/3aa09648ad8bb144d8d0478668f92f5bcd537203/reboot.css (celui de bootstrap,
  voir le fichier css/reboot.css :
  @import url('reboot.css');
  ici nous l'avons importé dans l'HTML avec un <link />
*/

/* 
  2 - Variables
  -------------------------------------------------
*/

:root {
  --white: #fff;
  --primary: #E74C3C;
  --secondary: #3498DB;
  --gray-darker: #2C3E50;
  --gray-dark: #444444;
  --gray: #4D5C6B;
  --gray-light: #ABABAB;
  --gray-lighter: #D5D5D5;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Pontiac', sans-serif;
}

/* 
  3 - Typographie
  -------------------------------------------------
*/

@font-face {
  font-family: 'Pontiac';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/pontiac-light.otf') format('opentype');
}
@font-face {
  font-family: 'Pontiac';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/pontiac-regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pontiac';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/pontiac-bold.otf') format('opentype');
}
@font-face {
  font-family: 'Pontiac';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/pontiac-black.otf') format('opentype');
}

body {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;

  /* prévisualiser la maquette */
  background: linear-gradient(#FFFFFFc0, #ffffffc0),
  url(../liberty-home-todo.jpg) no-repeat center top;
  /* max-width: 1280px;
  margin: 0px auto; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  font-weight: 300;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--primary);
  text-decoration: underline;
}

/* 
  4 - Header
  -------------------------------------------------
*/

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 11px 42px;
}

.main-header .brand {
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.2px;
  font-weight: 900;
}

.main-header nav ul {
  display: flex; /* permet de mettre les li à l'horizontale en colonnes */
  list-style-type: none; /* supprime l'apparence par défaut des puces */
  margin: 0; /* neutralise la marge par défaut du ul*/
  padding: 0;
  gap: 20px; /* espace les éléments */
}

.main-header nav ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
}

/* 
  5 - Footer
  -------------------------------------------------
*/





/* 
  6 - Layout
  -------------------------------------------------
*/

#hero {
  /* background: color url() repeat position-h position-v/size-h size-v */
  background: url('../imgs/hero-image.jpg') no-repeat center/cover;
  height: calc(100vh - 68px);
  text-align: center;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero h2 {
  color: var(--white);
  font: normal 300 54px / 70px var(--secondary-font);
  max-width: 920px;
  /* 
  font = raccourcis pour ces valeurs :
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 70px;
  font-family: var(--secondary-font); */
}